table, td {
    border: 1px solid black;
    padding: 10px 21px;
    background: yellow;
    border-collapse: collapse;
    text-align: center;
}
table {
    border-right: dashed;
    border-left: dashed;
    border-top: solid;
}
#red {
    background: #e69278;
}
#green {
    background: #78e681;
}